<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="ville.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> <!-- pour l'autocomplete-->
    <link rel="stylesheet" href="/resources/demos/style.css"> <!-- pour l'autocomplete-->


    <title>Accueil</title>
  </head>
  <body>
    <header>

          <div class="navi">
          <nav role="navigation">
            <div id="menuToggle">

            <input type="checkbox"  id="check"/>

              <span></span>
              <span></span>
              <span></span>

            <ul id="menu">
              <a href="#"><li>Chien</li></a>
              <a href="#"><li>Chat</li></a>
              <a href="#"><li>Rongeur</li></a>
              <a href="#"><li>Oiseau</li></a>
              <a href="#"><li>Cheval / Âne</li></a>
              <a href="#"><li>Reptile</li></a>
              <a href="#"><li>Discussion</li></a>

            </ul>
            </div>
          </nav>
        </div>

        <div>
          <h1  class="logo"><a href="accueil.html" target="_self"><img src="img/airbnb_logo.png" alt="airbnb_logo" class="img_logo"/></a></h1>
        </div>

        <div>
          <img src="img/user.svg" alt="compte" style="width:2rem; margin-right:2rem;" id="compte_deco">
          <img src="img/users_co.svg" alt="compte" style="width:2rem; margin-right:2rem; display:none;" id="compte_co"/>
        </div>
      </header>

      <div id="app">

        <main v-if="page">
          	<div class="image" style="background-image: url(img/img_accueil.jpg)">
              <div class="formulaire">
                <h2> Réservez des logements, des hôtels et plus encore sur Airbnb</h2>
                <form method="POST">
                  <label for="where"> Où</label><br/>
                  <input type="text" name="where" id="where" placeholder="Partout"/>
                  <div class="date">
                    <div class="champ">
                    <label for="arrive"> Arrivée</label>
                    <input type="date" name="date_arrive" id="date_arrive"/>
                    </div>
                    <div class="champ_dep">
                    <label for="depart"> Départ </label>
                    <input type="date" name="date_depart" id="date_depart">
                    </div>
                  </div>
                    <div class='who'>
                      <div class="champ">
                        <label for="adulte">Adultes</label>
                        <select id="adulte" name="adulte">
                          <option value="0">0 mais c'est chaud</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
                      </div>
                      <div class="champ_enf">
                        <label for="enfant">Enfants</label>
                        <select id="enfant" name="enfant">
                          <option value="0">0 et c'est très bien</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
                      </div>
                    </div>
                    <input type="submit" value="Rechercher" id="bouton" v-on:click.prevent="recherche">
                  </form>
                </div>
            </div>


            <div class="content" >
              <h3> Explore AIRBNB </h3>
              <div class="submit">
                <input type="submit" name="" value="Logements" class="sub-jsp"/>
                <input type="submit" name="" value="Expériences" class="sub-jsp"/>
                <input type="submit" name="" value="Aventures" class="sub-jsp"/>
              </div>
              <img src="img/vacances.png" alt="arbnb vacances au soleil" class="img_vac">
              <h3>Découvrez les aventures AIRBNB</h3>
              <p> Voyages de plusieurs jours organisés par des experts locaux avec des activités, repas et logements compris.</p>

              <div class="pres-pays" id="sortable" >
                <pres-pays v-bind:pays="pays" v-for="pays in pays"></pres-pays>
              </div>

              <a href=" ">Afficher toutes les aventures</a>
              <br/>
              <img src="img/next.png" alt="next" class="next">
            </div>
          </main>

          <section v-else>
            <ul class="filtre" id="selectable">
              <li class="">Dates</li>
              <li class="">Voyageurs</li>
              <li class="">Prix</li>
              <li class="">Durée du voyage</li>
              <li class="">Langues proposées</li>
              <li class="">Niveau d'activité physique</li>
            </ul>

            <img src="img/fond_marseille.jpg" style="width:100%;" alt="paris" v-on:click="recherche"/>
            <div class="content">
              <h3> Aventure près de chez vous</h3>
              <p> Découvrez des voyages préparés par des hôtes qui s’occupent de toute la logistique pour vous </p>
              <div class="appart">
                <div class="left">

                  <pres-log  v-for="log in log_marse" v-bind:log="log" v-bind:num_log="num_log" v-on:selectedlog="selectedLog($event)"> </pres-log>

                </div>
                <div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46481.7011523366!2d5.371362687538905!3d43.270148328812716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9c72bb410d92b%3A0xf67f5b35e4312b5!2sLe%20Rhul!5e0!3m2!1sfr!2sfr!4v1583147586772!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
              </div>
            </div>
          </section>


        </div>



        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="main.js"></script>
  </body>
</html>
