.filtre{
display:flex;
list-style-type: none;
}

.filtre li{
  padding:5px 20px;
  margin-right: 1rem;
  border:2px solid #707070;
  border-radius: 1rem;
}

.img_paris{
  flex: 0 0 auto;
      background:no-repeat center center #707070;
      background-size: cover;
      width: 30% ;
      height: 15rem;
      margin-right: 1em !important;
      border-radius: 1rem;
}

.text{
  /* margin-top:4rem; */
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3rem;
}

.appart{
  display: flex;
}
.left div{
  display: flex;
  margin: 1rem 0;
}

.content{
  margin: 0 4rem;
}

iframe{
  height: 100%;
}
