

/*=========*\
#    BODY    #======================================================================
\*=========*/

.image{
    flex: 0 0 auto;
    background:no-repeat center center #FF5A5F;
    background-size: cover;
    width: 100% ;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.formulaire{
  background-color: white;
  /* background-image: url(img/fond_paris.jpg); */
  border-radius: 1rem;
  width: 25%;
  margin: 5rem;
  padding: 2rem;

}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  font-size: 16px;
}

#adulte, #enfant{
  width: 100%;
  margin:0 0rem;
  /* padding: 0 1rem; */
}

.champ, .champ_enf, .champ_dep{
  display:flex;
  flex-direction: column;
}

.champ_enf, .champ_dep{
  margin-left: 1rem;
}
.who,.date{
  display: flex;
}

#bouton{
  background-color: #FF5A5F;
  border-radius: 10px;
  margin-top:1rem;
  padding:1rem;
  width: 100%;
  display:block;
  color:white;
  border:0;
}

input:not(#check){
  margin-bottom: 1rem;
  width: 100% !important;
  font-size: 1rem;
  border-radius: 3px;
  border:1px solid #F2F2F2;

}

select{
  width: 110% !important;
  border-radius: 3px;
  border:1px solid #F2F2F2;

}

label{
  padding-bottom:1rem;
}

#where{
  width: 61% !important;
}

#compte:hover{
  cursor:pointer;
}
